
@keyframes AnimatedLogo {
    0% {background-color: blue;}
    100%{background-color: yellow;}

}
#AnimatedLogo-image{
    width: 50px;
    height: 100px;
    background-color: green;
    animation-name: AnimatedLogo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;}